<div class="text-center">
  <h1 class="display-4 blue-text d-inline-block ">ERROR ! 😓</h1>
  <a routerLink="/profile" class="btn btn-sm btn-danger ">Click Here To Return</a>
</div>

<div class="cat-cont">
  <div class="main">
    <span class="stand"></span>
    <div class="cat">
      <div class="body"></div>
      <div class="head">
        <div class="ear"></div>
        <div class="ear"></div>
      </div>
      <div class="face">
        <div class="nose"></div>
        <div class="whisker-container">
          <div class="whisker"></div>
          <div class="whisker"></div>
        </div>
        <div class="whisker-container">
          <div class="whisker"></div>
          <div class="whisker"></div>
        </div>
      </div>
      <div class="tail-container">
        <div class="tail">
          <div class="tail">
            <div class="tail">
              <div class="tail">
                <div class="tail">
                  <div class="tail">
                    <div class="tail"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>