#ngb-tab-0,
#ngb-tab-1,
#ngb-tab-2 {
  margin-right: 0.25em;
  color: #fff;
  background-color: #18bc9c;
  border-color: #18bc9c;
  &.active {
    border-color: #18bc9c;
    color: #18bc9c;
    background-color: #fff;
  }
}
