<div class="row mb-5">
  <div class="col-md-4" *ngIf="profile">
    <mdb-card class="testimonial-card  mt-2">
      <div class="card-up aqua-gradient">
      </div>
      <div class="avatar mx-auto" *ngIf="profile">
        <img [src]="profile.picture" class="rounded-circle" style="max-height: 9rem">
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4 *ngIf="profile"> {{profile.name}} </h4>
          <p class=" text-muted" *ngIf="user">( {{user.login}} )</p>
          <p class="lead text-secondary" *ngIf="user">{{user.bio}}</p>
        </mdb-card-title>
        <hr>
        <div *ngIf="user">
          <p *ngIf="user.company !== null">
            <i class="fa fa-building-o mr-2" aria-hidden="true"></i> Company : {{user.company}} </p>
          <p *ngIf="user.blog !== null">
            <i class="fa fa-internet-explorer mr-2" aria-hidden="true"></i>Blog : {{user.blog}} </p>
          <p *ngIf="user.location !== null">
            <i class="fa fa-globe mr-2" aria-hidden="true"></i> {{user.location}} </p>
        </div>
      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-md-6">
    <div class="card mt-2">
      <div class="py-5 px-4">
        <div *ngIf="user">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Public Repos
              <span class="badge badge-dark badge-pill">{{user.public_repos}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Public Gists
              <span class="badge badge-dark badge-pill">{{user.public_gists}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Followers
              <span class="badge badge-dark badge-pill">{{user.followers}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Following
              <span class="badge badge-dark badge-pill">{{user.following}}</span>
            </li>
          </ul>
          <div class="my-2">
            <p>Created At : {{user.created_at | date}}</p>
            <p>Last Updated : {{user.updated_at | date}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 text-center" *ngIf="!repos">
    <button class="btn pink " (click)="getRepo()"> get repos </button>
  </div>
  <div class="col-6 text-center" *ngIf="!events">
    <button class="btn pink " (click)="getEvents()"> get events </button>
  </div>
</div>
<section class="bg-white">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Title 1</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="container-fluid my-3">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
            cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher
            synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Title 2</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="container-fluid my-3">
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable
            jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher
            vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Title 3</b>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="container-fluid my-3">
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section>