<p>
  profile works!
</p>
<h6>
  <pre>
    {{profile | json}}
  </pre>
</h6>
<section>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item waves-effect waves-light">
      <a class="nav-link" data-toggle="tab" href="#panel1" role="tab" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item waves-effect waves-light">
      <a class="nav-link active show" data-toggle="tab" href="#panel2" role="tab" aria-selected="true">Follow</a>
    </li>
    <li class="nav-item waves-effect waves-light">
      <a class="nav-link" data-toggle="tab" href="#panel3" role="tab" aria-selected="false">Contact</a>
    </li>
  </ul>
  <!-- Tab panels -->
  <div class="tab-content card">
    <!--Panel 1-->
    <div class="tab-pane fade in" id="panel1" role="tabpanel">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 1-->
    <!--Panel 2-->
    <div class="tab-pane fade active show" id="panel2" role="tabpanel">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 2-->
    <!--Panel 3-->
    <div class="tab-pane fade" id="panel3" role="tabpanel">
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae
        placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    </div>
    <!--/.Panel 3-->
  </div>

</section>